<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="XCNuget" value="http://xc-jenkins.cloudapp.net/XCNugetServer/nuget" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <XCNuget>
      <add key="Username" value="xcomponent" />
      <add key="ClearTextPassword" value="ViVe8inViV00" />
    </XCNuget>
  </packageSourceCredentials>
</configuration>